{% extends "layout.html" %}

{% block title %}Hello{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
  {% if name %}
    <h1>Hello {{ name }}!</h1>
  {% else %}
    <h1>Hello, World!</h1>
  {% endif %}
  <p class="important">
    Welcome on our awesome homepage.
  </p>
{% endblock %}
